<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="BddpersonnelDataContextConnectionString" connectionString="User Id=GestionnaireBDD;Password=Password1234@but;Host=localhost;Database=bddpersonnels;Persist Security Info=True" />
    </connectionStrings>
</configuration>